
.modal{
  h3,h2{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .detail_list{
    width: 80%;
    margin: 0 auto;
    .items{
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: flex-start;
      width: 100%;
      p{
        padding-right: 5px;
      }
      a{
        color: #fff;
        &:hover{
          color: rgb(171, 160, 222);
        }
      }
    }
  }
  .close_modal_button{
    float: right;
    background-color: red;
    color: #fff;
    margin-bottom: 2rem;
  }
}
