/* You can add global styles to this file, and also import other style files */
body{
  background-color: #0d234c;
}

.table_container{
  cursor: pointer;
}
.show_modal{
  display: block;
}
.hide_modal{
  display: none;
}
.close_modal_button{
  display: block;
  border: #fff;
  background-color: rgb(44, 41, 41);
  color: #eee;
  border-radius: 5rem;
}

.modal{
  z-index: 1000;
  position: fixed;
  top: 2rem;
  bottom: 1rem;
  left: 4rem;
  right: 4rem;
  padding: 1rem;
  margin-right: auto;

}
.modal_body{
  color: #fff;
  background: rgba(53, 110, 216, 0.45);
  box-shadow: 0 8px 32px 0 rgba(21, 57, 124, 0.37);
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 10px;
  border: 1px solid rgba(223, 229, 241, 0.18);
  margin: 0.25rem;
  padding:0.25rem
}

.modal_background{
  z-index: 900;
  position: absolute;
  top: 0;
  left: 0;
 width: 100%;
 height: 100%;
  background-color: #000;
  opacity: 0.9;
  backdrop-filter: 25%;
}
